version: 1
log: debug

servers:
  example_server:
    listen:
      - "0.0.0.0:8443"
    tls: true # Enable TLS features like SNI filtering
    sni:
      api.example.org: example-api
      www.example.org: gh-proxy
    default: ban

upstream:
  proxy: "tcp://new-www.example.org:443" # Connect over IPv4 or IPv6 to new-www.example.org:443
  example-api: "tcp6://api-v1.example.com:443" # Connect over IPv6 to api-v1.example.com:443
